/* popup banner */
.popUpBannerBox {
	position: fixed;
	background: rgba(0, 0, 0, 0.9);
	width: 100%;
	height: 100%;
	z-index: 999999;
	display: none;
	overflow-y: scroll;
}
.popUpBannerInner {
	margin: auto;
}

.banner {
	border-radius: 30px;
}

.closeButton {
	text-decoration: none;
	font-size: 24px;
}
/* close popup banner */

/* Utama */
html {
	scroll-behavior: smooth;
}
.tanggal {
	font-size: 9px;
	color: white;
}

@media (min-width: 768px) {
	.ten-columns > .col-sm-2 {
		width: 20%;
	}
}

body {
	background-color: #f0f0f0;
}

.carousel-item {
	transition-duration: 0.5s;
}

.carousel-caption {
	z-index: 1;
}

.ikon-pengaduan {
	color: maroon;
}

.tombol-aksi {
	font-size: 14px;
	padding: 5px;
	text-decoration: none;
	color: maroon;
	display: inline-block;
	width: 100%;
	border: 2px solid;
	border-radius: 5px;
	transition-duration: 0.5s;
}

.tombol-aksi:hover {
	background-color: maroon;
	color: white;
	transition-duration: 0.5s;
	border-radius: 30px;
	padding: 5px;
}

/* custom pagination */
.custom-pagination {
	margin-bottom: 30px;
	margin-top: 50px;
	border-radius: 50px;
}
.custom-pagination a {
	background: whitesmoke;
	color: maroon;
	padding: 10px;
}
.custom-pagination a:hover {
	background: maroon;
	color: whitesmoke;
	padding: 10px;
	text-decoration: none;
}
.custom-pagination strong {
	background: maroon;
	color: whitesmoke;
	padding: 10px;
}

/* tutup pagination */

main h3,
main h4,
main h5 {
	text-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron {
	height: 42vh;
	width: 100%;
	background-image: url("../img/bg-web.jpg");
	background-attachment: fixed;
	background-size: 100%;
	position: relative;
	overflow: hidden;
}

.jumbotron::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0)
	);
	position: absolute;
	bottom: 0;
	left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
	font-family: Spectral, sans-serif;
}

.navbar-brand {
	font-family: Maven Pro, sans-serif;
	font-size: 20px;
}

.jumbotronimg,
.jumbotronteks {
	opacity: 0;
	transform: translate(0, -50px);
	transition: 1s;
	overflow: hidden;
}

.dinas {
	font-weight: 400;
}

.jumbotronimg.muncul,
.jumbotronteks.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.jumbotron .display-3 {
	font-size: 18px;
}

.jumbotron .display-2 {
	font-size: 14px;
}

.jumbotron .display-4 {
	font-size: 14px;
}

.jumbotron .judul {
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	margin-top: 10px;
	position: relative;
	z-index: 1;
	font-family: Spectral, sans-serif;
}

.layer-1 {
	z-index: 2;
	border-top: 4px solid maroon;
}

.navbar {
	background-image: linear-gradient(to bottom, rgb(196, 0, 0), maroon);
	font-family: Spectral, sans-serif;
}

.navbar-brand {
	font-weight: 700;
}

.judul-cover {
	margin-top: 60px;
}

.garis-judul {
	width: 150px;
	border-top: 4px solid maroon;
}

.footer {
	background-color: maroon;
	color: #f0f0f0;
}

.ikon:hover {
	color: maroon;
}

/*tutup utama*/

/* Informasi */
.carousel-inner,
.berita-carousel {
	height: 300px;
}

.carousel-item,
.carousel-indicators {
	color: maroon;
}

.gambar-carousel {
	max-height: 230px;
	width: 100%;
	border-radius: 15px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.gambar-berita {
	height: 100%;
	width: 100%;
}

.gambar-info {
	width: 100%;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

.kartu-info {
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

a,
a:hover {
	color: inherit;
	text-decoration: none;
}

.tombol-informasi {
	transition-duration: 0.5s;
}

.judul-informasi {
	color: white;
	background-color: maroon;
	width: fit-content;
	font-size: 16px;
	font-weight: 600;
	opacity: 0.8;
}

.ringkasan {
	font-size: 10px;
}

.tgl_berita {
	font-size: 10px;
	color: white;
	border-bottom: 1px solid maroon;
}

.informasi-lainnya {
	color: white;
	font-size: 10px;
	border: 1px solid;
	display: inline-block;
	padding: 5px;
	transition-duration: 0.5s;
}

.informasi-lainnya:hover {
	color: white;
	font-size: 10px;
	background-color: maroon;
	border: 1px solid maroon;
	border-radius: 30px;
	display: inline-block;
	padding: 5px;
	transition-duration: 0.5s;
}

.judul-informasi2 {
	display: inline-block;
	color: maroon;
	font-size: 20px;
	font-weight: 600;
	width: fit-content;
	text-align: justify;
}

.tgl_berita2 {
	font-size: 10px;
	color: white;
	background-color: maroon;
	padding: 5px;
}
.gambar-berita2 {
	height: 100%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

/* tutup informasi */

/*profil*/

.profil {
	min-height: 650px;
}

.judul-profil {
	font-family: Maven Pro, sans-serif;
	font-weight: 500;
	font-size: 28px;
}

.profil .slogan {
	color: maroon;
	margin-bottom: 40px;
	font-size: 40px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	opacity: 0;
	transform: translate(0, 50px);
	transition-duration: 1s;
}

.slogan.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.pilih-profil {
	font-weight: 400;
	font-size: 24px;
	border: 2px solid;
	color: maroon;
	display: inline-block;
	position: relative;
	z-index: 1;
	width: 100%;
	padding: 10px;
	transition-duration: 1s;
	opacity: 0;
	transform: translate(0, -50px);
}

.pilih-profil.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.pilih-profil:hover {
	background-color: maroon;
	color: white;
	transition-duration: 0.5s;
	border-radius: 30px;
	padding: 10px;
}

.img-kabid {
	height: 150px;
	width: auto;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

.card-kabid {
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

.nama-kabid {
	font-size: 16px;
	font-weight: 400;
}

.ket-kabid {
	font-size: 14px;
}

.pilih-kabid {
	font-size: 14px;
	padding: 5px;
	text-decoration: none;
	color: maroon;
	display: inline-block;
	width: 100%;
	border: 2px solid;
	transition-duration: 0.5s;
}

.pilih-kabid:hover {
	background-color: maroon;
	color: white;
	transition-duration: 0.5s;
	border-radius: 30px;
	padding: 5px;
}

.gambar-struktur {
	height: 100%;
	width: 100%;
	border-radius: 30px;
}

.gambar-sarpras {
	height: 100%;
	width: 100%;
	border-radius: 30px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
/*tutup profil*/

/*pelayanan*/

.pelayanan {
	min-height: 650px;
	background-image: url("../img/wallpaper.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	color: white;
}

.judul-layanan {
	font-family: Maven Pro, sans-serif;
	font-weight: 10px;
	font-size: 28px;
}

.pelayanan .garis-judul {
	border-top: 4px solid white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.pelayanan .isi-pelayanan {
	position: relative;
	z-index: 1;
	transition-duration: 1s;
	opacity: 0;
	transform: translate(-50px, 0);
}

.isi-pelayanan.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.pelayanan .intro-pelayanan {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	margin-top: 20px;
}

.pelayanan .pilih-pelayanan:hover {
	background-color: maroon;
	color: white;
	transition-duration: 0.5s;
	border-radius: 30px;
	padding: 10px;
	border: 2px solid maroon;
}

.pilih-pelayanan {
	font-size: 12px;
	padding: 10px;
	text-decoration: none;
	border: 2px solid;
	color: #f0f0f0;
	display: inline-block;
	position: relative;
	z-index: 1;
	width: 100%;
	transition-duration: 1s;
	opacity: 0;
	transform: translate(0, 50px);
}

.pilih-pelayanan.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

#img-layanan {
	transition-duration: 0.5s;
	border-radius: 30px;
	border: 2px solid maroon;
}

.pelayanan::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0)
	);
	position: absolute;
	bottom: 0;
	left: 0;
}

.modal-header {
	background-color: maroon;
	color: #f0f0f0;
}

.judul-modal {
	font-size: 24px;
	font-size: 28px;
}

.pilih-modal-pelayanan {
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
	color: maroon;
	padding: 5px;
	border: 2px solid maroon;
	width: 100%;
	transition-duration: 0.5s;
}

.pilih-modal-pelayanan:hover {
	background-color: maroon;
	color: #f0f0f0;
	transition-duration: 0.5s;
	border-radius: 30px;
	padding: 5px;
	text-decoration: none;
}

/*tutup pelayanan*/

/*investasi*/

.investasi {
	min-height: 650px;
	position: relative;
	background-color: black;
	width: 100%;
	overflow: hidden;
}

.judul-investasi {
	font-family: Maven Pro, sans-serif;
	font-size: 28px;
	color: mintcream;
}

.gis-investasi {
	border: 1px maroon;
}

.peta-investasi {
	transition-duration: 1s;
	opacity: 0;
	transform: translate(-50px, 0);
}

.peta-investasi.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.penjelasan-investasi,
.pilih-investasi {
	transition-duration: 1s;
	opacity: 0;
	transform: translate(50px, 0);
}

.penjelasan-investasi.muncul,
.pilih-investasi.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.penjelasan-investasi {
	margin-top: 10px;
	color: mintcream;
}

.pilih-investasi {
	font-size: 20px;
	padding: 10px;
	text-decoration: none;
	color: mintcream;
	display: inline-block;
	width: 60%;
	border: 2px solid;
	transition-duration: 0.5s;
	margin: 0;
}

.pilih-investasi:hover {
	background-color: maroon;
	color: white;
	transition-duration: 0.5s;
	border-radius: 30px;
	padding: 10px;
}

.pilih-investasi-2 {
	font-size: 24px;
	padding: 10px;
	text-decoration: none;
	color: maroon;
	display: inline-block;
	width: 100%;
	border: 2px solid;
	transition-duration: 0.5s;
}

.pilih-investasi-2:hover {
	background-color: maroon;
	color: white;
	transition-duration: 0.5s;
	border-radius: 30px;
	padding: 10px;
}

.img-investasi {
	width: 100%;
	border-radius: 15px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.bid-investasi {
	position: relative;
	z-index: 2;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
	header {
		background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black
			no-repeat center center scroll;
	}
	header video {
		display: none;
	}
}

/*tutup investasi*/

/*naker*/

.naker {
	min-height: 650px;
	background-image: url("../img/wallpaper.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	color: white;
}

.logo-enaker,
.pilih-naker,
.isi-naker {
	transition-duration: 1s;
	opacity: 0;
	transform: translate(0, 50px);
}

.logo-enaker.muncul,
.pilih-naker.muncul,
.isi-naker.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.judul-naker {
	font-family: Maven Pro, sans-serif;
	font-size: 28px;
}

.naker .garis-judul {
	border-top: 4px solid #f0f0f0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.naker::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0)
	);
	position: absolute;
	bottom: 0;
	left: 0;
}

.isi-naker {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	font-weight: 400;
	color: #f0f0f0;
	position: relative;
	z-index: 1;
}

.naker .pilih-naker:hover {
	background-color: white;
	color: maroon;
	transition-duration: 0.5s;
	border-radius: 30px;
	padding: 10px;
}

.pilih-naker {
	font-size: 28px;
	padding: 10px;
	text-decoration: none;
	border: 2px solid;
	color: #f0f0f0;
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	transition-duration: 0.5s;
}

.logo-enaker {
	width: 130px;
}

/*tutup naker*/

/*pengaduan*/

.pengaduan {
	min-height: 650px;
}

.judul-pengaduan {
	font-family: Maven Pro, sans-serif;
	font-size: 28px;
}

.kontak-pp {
	font-size: 16px;
}

.mekanisme-pengaduan,
.form-pengaduan {
	transition-duration: 1s;
	opacity: 0;
	transform: translate(0, -50px);
}

.mekanisme-pengaduan.muncul,
.form-pengaduan.muncul {
	opacity: 1;
	transform: translate(0, 0);
}

.form-pengaduan {
	margin-bottom: 50px;
}

.pengaduan .tombol-pp:hover {
	background-color: white;
	color: maroon;
	transition-duration: 0.5s;
	border-radius: 30px;
	padding: 10px;
}

.pengaduan .tombol-pp {
	font-size: 24px;
	padding: 10px;
	text-decoration: none;
	border: 2px solid;
	color: maroon;
	display: inline-block;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
	transition-duration: 0.5s;
}

/*tutup pengaduan*/

/*kontak*/

.kontak {
	height: auto;
	background-color: #333333;
	color: #f0f0f0;
}

.judul-kontak {
	font-family: Maven Pro, sans-serif;
	font-size: 28px;
}

.statistik {
	background-color: maroon;
	border-radius: 20px;
	padding: 20px;
}
/*tutup kontak*/

/*perizinan*/
.btn-group a {
	color: maroon;
}

.tutup {
	color: #f0f0f0f0;
}

.tutup:hover {
	color: #2a2a2a;
}
/*tutup perizinan*/

/* skm */
.skm {
	background-image: url("../img/wallpaper.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	color: white;
}
/* close skm */

/* grafik */
.grafik {
	background-image: url("../img/wallpaper.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	color: white;
}

.grafik::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0)
	);
	position: absolute;
	bottom: 0;
	left: 0;
}
/* tutup grafik */

/*Login*/
.judul_login {
	font-size: 18px;
}

.kartu_login {
	background-color: maroon;
	border-radius: 20px;
	color: #f0f0f0f0;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.kartu_login img {
	margin: 10px;
}
/*tutup login*/

@media (min-width: 760px) {
	.modal-lg {
		max-width: 95% !important;
	}
	.nav-link {
		padding: 0.25rem 0;
		margin-right: 10px;
		color: #999999;
		background-color: transparent;
		border-bottom: 0.25rem solid transparent;
	}

	.nav-link:hover::after,
	.nav-link:focus::after {
		content: "";
		display: block;
		border-bottom: 3px solid #ffe600;
		width: 50%;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}

	.jumbotron {
		height: 92vh;
		width: 100%;
		background-image: url("../img/bg-web.jpg");
		background-attachment: fixed;
		background-size: cover;
		position: relative;
	}

	.jumbotron::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(
			to top,
			rgba(0, 0, 0, 0.8),
			rgba(0, 0, 0, 0)
		);
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.jumbotron .judul {
		color: white;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
		margin-top: 100px;
		position: relative;
		z-index: 1;
	}

	.jumbotron .display-3 {
		font-size: 32px;
	}

	.jumbotron .display-2 {
		font-size: 34px;
	}

	.jumbotron .display-4 {
		font-size: 28px;
	}

	/* Informasi */
	.carousel-inner,
	.berita-carousel {
		height: 600px;
	}

	.multi-item-carousel {
		overflow: hidden;
	}
	.multi-item-carousel .carousel-indicators {
		margin-right: 25%;
		margin-left: 25%;
	}
	.multi-item-carousel .carousel-control-prev,
	.multi-item-carousel .carousel-control-next {
		background: rgba(255, 255, 255, 0.3);
		width: 10%;
		z-index: 2; /* .carousel-caption has z-index 10 */
	}
	.multi-item-carousel .carousel-inner {
		width: 230%;
		left: -65%;
	}
	.multi-item-carousel .carousel-item-next:not(.carousel-item-left),
	.multi-item-carousel .carousel-item-right.active {
		-webkit-transform: translate3d(33%, 0, 0);
		transform: translate3d(33%, 0, 0);
	}
	.multi-item-carousel .carousel-item-prev:not(.carousel-item-right),
	.multi-item-carousel .carousel-item-left.active {
		-webkit-transform: translate3d(-33%, 0, 0);
		transform: translate3d(-33%, 0, 0);
	}
	.multi-item-carousel .item__third {
		float: left;
		position: relative;
		width: 33.33333333%;
	}

	.gambar-carousel {
		max-height: 500px;
		width: 95%;
		height: 480px;
		margin-left: 30px;
		margin-right: 30px;
	}

	.judul-informasi {
		display: inline-block;
		color: white;
		background-color: maroon;
		font-size: 30px;
		font-weight: 600;
		width: fit-content;
		opacity: 0.8;
		text-align: justify;
	}

	.ringkasan {
		font-size: 18px;
	}

	.tgl_berita {
		font-size: 16px;
		color: white;
		border-bottom: 2px solid maroon;
	}

	.informasi {
		min-height: 580px;
	}

	.judul-informasi2 {
		display: inline-block;
		color: maroon;
		font-size: 40px;
		font-weight: 600;
		width: fit-content;
		text-align: justify;
	}

	.tgl_berita2 {
		font-size: 16px;
		color: white;
		background-color: maroon;
		padding: 5px;
	}
	.gambar-berita2 {
		height: 100%;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	.ringkasan {
		font-size: 12px;
	}

	/* tutup informasi */

	/* Profil */
	/* tutup profil */

	/*pelayanan*/
	.pelayanan .pilih-pelayanan {
		font-size: 15px;
		font-weight: 400;
		padding: 10px;
		text-decoration: none;
		color: white;
		display: inline-block;
		width: 250px;
		transition-duration: 0.5s;
	}

	.pelayanan .pilih-pelayanan:hover {
		background-color: maroon;
		color: white;
		transition-duration: 0.5s;
		border-radius: 50px;
		padding: 10px;
	}

	.btn-tracking {
		font-size: 14px;
		padding: 6px;
		text-decoration: none;
		color: maroon;
		display: inline-block;
		width: 100%;
		transition-duration: 0.5s;
		border: 2px solid;
	}

	.btn-tracking:hover {
		background-color: maroon;
		color: white;
		transition-duration: 0.5s;
		border-radius: 50px;
		padding: 6px;
	}
	/*tutup pelayanan*/

	/*naker*/
	.naker .pilih-naker {
		font-size: 30px;
		text-decoration: none;
		color: #f0f0f0;
		display: inline-block;
		width: 350px;
		transition-duration: 0.5s;
	}

	.naker .pilih-naker:hover {
		background-color: white;
		color: maroon;
		transition-duration: 0.5s;
		border-radius: 50px;
		padding: 10px;
	}

	/*tutup naker*/

	.pengaduan .tombol-pp:hover {
		background-color: maroon;
		color: #f0f0f0;
		transition-duration: 0.5s;
		border-radius: 30px;
		padding: 10px;
		width: 350px;
	}

	.pengaduan .tombol-pp {
		font-size: 24px;
		padding: 10px;
		text-decoration: none;
		border: 2px solid;
		color: maroon;
		display: inline-block;
		text-align: center;
		width: 350px;
		transition-duration: 0.5s;
	}
}
